NodeRED/U2_DHT11sensor.json
[
    {
        "id": "a79652a94e6b5add",
        "type": "tab",
        "label": "U2 DHT11",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "facf92f075f3466d",
        "type": "inject",
        "z": "a79652a94e6b5add",
        "name": "start",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 160,
        "wires": [
            [
                "c9bd27872c929359"
            ]
        ]
    },
    {
        "id": "17a3c5ff1889f110",
        "type": "debug",
        "z": "a79652a94e6b5add",
        "name": "debug succ",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 140,
        "wires": []
    },
    {
        "id": "c9bd27872c929359",
        "type": "exec",
        "z": "a79652a94e6b5add",
        "command": "/usr/bin/python3 ~/Documents/nodered/ue2/ue2.py",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "dht11 python",
        "x": 410,
        "y": 160,
        "wires": [
            [
                "17a3c5ff1889f110"
            ],
            [
                "8c339017ee52d17f"
            ],
            []
        ]
    },
    {
        "id": "8c339017ee52d17f",
        "type": "debug",
        "z": "a79652a94e6b5add",
        "name": "debug err",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 180,
        "wires": []
    }
]