NodeRED/U5_dashboard.json
[
    {
        "id": "743a447a2f2bc3a1",
        "type": "tab",
        "label": "U5_dashboard",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1392503bfab2208c",
        "type": "ui_chart",
        "z": "743a447a2f2bc3a1",
        "name": "chart",
        "group": "a4720679c3e8c0bf",
        "order": 1,
        "width": "20",
        "height": "10",
        "label": "Temperature",
        "chartType": "line",
        "legend": "true",
        "xformat": "auto",
        "interpolate": "bezier",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "100",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 890,
        "y": 320,
        "wires": [
            [
                "da21a54cf47181cd"
            ]
        ]
    },
    {
        "id": "1a7de9902383f6e9",
        "type": "ui_switch",
        "z": "743a447a2f2bc3a1",
        "name": "led switch",
        "label": "LED on/off",
        "tooltip": "",
        "group": "9578b3fd1860fc6a",
        "order": 0,
        "width": "6",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 320,
        "y": 160,
        "wires": [
            [
                "6729930ca87c8120"
            ]
        ]
    },
    {
        "id": "6729930ca87c8120",
        "type": "function",
        "z": "743a447a2f2bc3a1",
        "name": "convert to on/off",
        "func": "msg.payload = msg.payload ? \"on\" : \"off\";\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 160,
        "wires": [
            [
                "db2a492799d1276a"
            ]
        ]
    },
    {
        "id": "db2a492799d1276a",
        "type": "mqtt out",
        "z": "743a447a2f2bc3a1",
        "name": "mqtt raspberry led",
        "topic": "led",
        "qos": "2",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "4d94e5ec499a4ca4",
        "x": 810,
        "y": 160,
        "wires": []
    },
    {
        "id": "8db4fc289b04874b",
        "type": "mqtt in",
        "z": "743a447a2f2bc3a1",
        "name": "mqtt raspberry temp",
        "topic": "temp",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "4d94e5ec499a4ca4",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 350,
        "y": 320,
        "wires": [
            [
                "02e980ae617927bb",
                "acd72ab93c690df6",
                "e83e304233465d5d"
            ]
        ]
    },
    {
        "id": "02e980ae617927bb",
        "type": "debug",
        "z": "743a447a2f2bc3a1",
        "name": "debug temp input",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 460,
        "wires": []
    },
    {
        "id": "da21a54cf47181cd",
        "type": "debug",
        "z": "743a447a2f2bc3a1",
        "name": "debug dashboard",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1150,
        "y": 320,
        "wires": []
    },
    {
        "id": "acd72ab93c690df6",
        "type": "function",
        "z": "743a447a2f2bc3a1",
        "name": "function temp",
        "func": "let tempMsg = {\n    payload: msg.payload.temperature,\n    topic: \"temperature\",\n    timestamp: msg.payload.time\n};\n\nreturn tempMsg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 260,
        "wires": [
            [
                "1392503bfab2208c",
                "88d6bce529fa6adc"
            ]
        ]
    },
    {
        "id": "88d6bce529fa6adc",
        "type": "debug",
        "z": "743a447a2f2bc3a1",
        "name": "debug temp",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 910,
        "y": 240,
        "wires": []
    },
    {
        "id": "e83e304233465d5d",
        "type": "function",
        "z": "743a447a2f2bc3a1",
        "name": "function hum",
        "func": "let humMsg = {\n    payload: msg.payload.humidity,\n    topic: \"humidity\",\n    timestamp: msg.payload.time\n};\n\nreturn humMsg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 340,
        "wires": [
            [
                "1392503bfab2208c",
                "a8dcb9bf7108f8a5"
            ]
        ]
    },
    {
        "id": "a8dcb9bf7108f8a5",
        "type": "debug",
        "z": "743a447a2f2bc3a1",
        "name": "debug humidity",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 900,
        "y": 380,
        "wires": []
    },
    {
        "id": "a4720679c3e8c0bf",
        "type": "ui_group",
        "name": "Temperatur Anzeige",
        "tab": "c70b2def4c38a25d",
        "order": 2,
        "disp": true,
        "width": "20",
        "collapse": false,
        "className": ""
    },
    {
        "id": "9578b3fd1860fc6a",
        "type": "ui_group",
        "name": "Steuerung",
        "tab": "c70b2def4c38a25d",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "4d94e5ec499a4ca4",
        "type": "mqtt-broker",
        "name": "raspberry",
        "broker": "192.168.1.182",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "c70b2def4c38a25d",
        "type": "ui_tab",
        "name": "U5 - Dashboard",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]